<div class="register-page">
  <div class="register-body">
    <h2 class="title">Register with Us</h2>
    <div class="login-data">
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="text" placeholder="Type your Name" formControlName="name">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="number" placeholder="Enter your Phone Number" formControlName="phone">
            </mat-form-field>
          </div>
        </div>
        <mat-form-field>
          <input matInput type="email" placeholder="Your Email Address" formControlName="email">
        </mat-form-field>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="password" placeholder="Type your Password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput type="password" placeholder="Confirm Password" formControlName="cPassword">
            </mat-form-field>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="onRegister()">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="signUpbtn col-md-12">
    Already have an account?&nbsp;<a routerLink="/logIn">Log In</a>
  </div>
</div>