<div class="review-wrapper">
  <form [formGroup]="InitialForm">
    <div class="col-md-12 row">
      <div class="col-md-6">
        <h3 class="title">Initiate a review :</h3>
        <mat-radio-group formControlName="review" (change)="getReviewForm()">
          <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-6">
        <h3 class="title">Medical history :</h3>
        <mat-radio-group formControlName="history">
          <mat-radio-button value="emr">EMR</mat-radio-button>&nbsp;
          <mat-radio-button value="manual">Manual</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </form>

  <div class="review-block" *ngIf="initiatReview">
    <form [formGroup]="patientForm">
      <div class="review col-md-12">
        <label>Is the patient present :</label>
        <mat-radio-group formControlName="present">
          <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="card-body">
        <div class="row" style="margin:0px;">
          <div class="col-md-9 register-body">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="input">
                  <input matInput placeholder="First Name" formControlName="fname">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput placeholder="Last Name" formControlName="lname">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Gender" formControlName="gender">
                    <mat-option *ngFor="let gender of gender" [value]="gender.value">{{gender.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput placeholder="Weight(lbs)" formControlName="weight">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Height(ft.)" formControlName="heightFt">
                    <mat-option *ngFor="let ft of ft" [value]="ft.value">{{ ft.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Height(inch.)" formControlName="heightIn">
                    <mat-option *ngFor="let inch of inch" [value]="inch.value">{{ inch.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Marital Status" formControlName="marital_status">
                    <mat-option *ngFor="let marital of marital" [value]="marital.value">{{marital.value}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Mailing Address" formControlName="mailing_address">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Billing Address" formControlName="biling_address">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <div class="profile-block col-md-10">
              <img [src]="imgURL" id="profile" class="patient-img">
              <div class="image">
                <input class="profilePic" type="file" name="pic" accept="image/*" formControlName="profileImg"
                  (change)=newProfile($event)>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="register-body">
        <h5>Patient Medical Information</h5>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Pre-existing Conditions" formControlName="pre_existing_conditions"
                (ngModelChange)="onselectIndication()" multiple>
                <mat-option *ngFor="let indication of indicationList" [value]="indication._id">
                  {{indication.indication}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Medication history" formControlName="medication_history" multiple>
                <mat-option *ngFor="let med of drugList" [value]="med._id">
                  (Ndc: {{med.ndc}}) {{med.brand_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Reported Allergies" formControlName="allergies">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Supplement, Alcohol, Caffeine intake"
                formControlName="supliment_alcohol_caffiene_intake">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Self Reported Concerns</mat-label>
              <mat-select formControlName="self_reported_concerns" multiple>
                <mat-option *ngFor="let concern of reportedConcern" [value]="concern">{{concern}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Additional Notes" formControlName="self_reported_concerns_notes">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <!-- <input matInput placeholder="CYP Genetic Test Results" formControlName="cyp_genetic_test"> -->
              <mat-label>CYP Genetic Test Results</mat-label>
              <mat-select formControlName="cyp_genetic_test">
                <mat-option *ngFor="let cyp of cypTest" [value]="cyp">{{cyp}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Any Vaccines/shot reminders?</mat-label>
              <mat-select formControlName="vaccines" multiple>
                <mat-option *ngFor="let vaccine of vaccines" [value]="vaccine">{{vaccine}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Additional medications" formControlName="additional_medications">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Additional indications not receiving treatment"
                formControlName="additional_treatment">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="register-body">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <h5 style="margin:0px;">Adherence</h5>
              <mat-form-field class="example-full-width">
                <mat-label>Is the prescription taken as prescribed</mat-label>
                <mat-select formControlName="is_precription_taken_regularly">
                  <mat-option *ngFor="let option of option" [value]="option">{{option}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Has the patient been recently hospitalized (in the last 30 days)?</mat-label>
                <mat-select formControlName="recently_hospitalized">
                  <mat-option *ngFor="let option of option" [value]="option">{{option}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Is the Medication being filled in a timely manner?</mat-label>
                <mat-select formControlName="med_filled">
                  <mat-option *ngFor="let option of option" [value]="option">{{option}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Additional Notes" formControlName="adherence_notes">
              </mat-form-field>
            </div>
            <div class="col-md-12" style="padding: 20px">
              <label>Diet lifestyle issues :</label>
              Does the patient smoke?&nbsp;
              <mat-radio-group class="smoke" formControlName="is_smoke">
                <mat-radio-button [value]="true">Yes</mat-radio-button>&nbsp;
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="col-md-12" style="padding: 20px">
              <label>Glucose Level :</label>
              Is the patient diabetic?&nbsp;
              <mat-radio-group class="smoke" formControlName="is_diabetic">
                <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;
                <mat-radio-button value="no">No</mat-radio-button>
              </mat-radio-group>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="glucose level" formControlName="glucose_level" type="number">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6" formArrayName="blood_test" style="padding: 20px">
            <label>Blood Test</label>
            <div *ngFor="let key of blood_test.controls; let i=index">
              <div [formGroupName]="i" class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Test Results Type" formControlName="key">
                      <mat-option *ngFor="let test of bloodTest" [value]="test">
                        {{test.key}}[ {{test.range}} ]
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Value" formControlName="value">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <button mat-flat-button color="basic" *ngIf="bloodNum < 10" (click)="addAlias()">Add Test</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="review-btn">
    <button class="btn btn-primary" (click)="onUpdate(patientForm.value)" type="button">Run Review and Generate
      Report</button>
  </div>
</div>