/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";

@font-face {
    font-family: AbdiMT;
    src: url('./assets/fonts/ABALC.ttf');
  }

* {
     font-family: AbdiMT;
     font-size: 21px;
    }

body{
    background-color: rgb(192, 227, 255) !important;
    background-image: linear-gradient(to right, rgb(192, 227, 255), rgb(236, 247, 255));
}

[class*="-belowplot"], [class*="-creditgroup"] {
  display: none;  
}